* {
  box-sizing: border-box;
  color:#B0B0B0;
  font-size:14px;
}
.App {
  width:100%;
  height: 100vh;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.exchange-wrapper {
  width:500px;
  margin: 0 auto;
  height:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:2rem;
  padding:10px;
  background-color: #eee;
  background-image: url('./assets/eur.webp');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -10px 10px 15px 0px rgba(0,0,0,0.75);
}

select {
  width:80%;
  padding:15px;
  margin:0 auto;
  color:darkslategray;
}

.GBP {
  background-image: url('./assets/gbp.webp');
}
.FIN {
  background-image: url('./assets/fin.webp');
}
.EUR {
  background-image: url('./assets/eur.webp');
}
.DEM {
  background-image: url('./assets/dem.webp');
}
.DKK {
  background-image: url('./assets/dkk.webp');
}
.MXN {
  background-image: url('./assets/mxn.webp');
}
.AUD {
  background-image: url('./assets/aud.webp');
}
.CAD {
  background-image: url('./assets/cad.webp');
}
.THB {
  background-image: url('./assets/thb.webp');
}
.RUB {
  background-image: url('./assets/rub.webp');
}
.PLN {
  background-image: url('./assets/pln.webp');
}
